In [50]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import requests
from census import Census
from us import states
#! pip install us

In [51]:


census_pd=pd.DataFrame()

In [52]:

# Census API Key
#years = [2011, 2012, 2013, 2014, 2015,2016]
l_census=[]
#for y in years:
c = Census("85ac64b6b5a9c0901b00329d1ef41f0c53ccfc98", year=2011)
    # Run Census Search to retrieve data on all zip codes (2013 ACS5 Census)
    # See: https://github.com/CommerceDataService/census-wrapper for library documentation
    # See: https://gist.github.com/afhaque/60558290d6efd892351c4b64e5c01e9b for labels
census_data =c.acs5.get(("NAME","B01003_001E","B01002_001E","B08136_003E",
                             "B19013_001E","B19301_001E","B02001_003E",
                             "B02001_002E", "B17001_002E","B25035_001E",
                            # "B15003_023E",
                             "B23025_005E","C24010_008E",
                             "B25077_001E"),
                            {"for": "zip code tabulation area:*"})
    # Convert to DataFrame
census_pd_2011 = pd.DataFrame(census_data)
 
    # Column Reordering
census_pd_2011 = census_pd_2011.rename(columns={"B01003_001E": "Population",
                                          "B01002_001E": "Median Age",
                                          "B08136_003E": "Commute Time",
                                          "B19013_001E": "Household Income",
                                          "B19301_001E": "Per Capita Income",
                                          "B02001_003E": "Black Population",
                                          "B02001_002E": "White Population",
                                          "B17001_002E": "Poverty Count",
                                          "B25035_001E": "Median Home Year",
                                          "B15003_022E": "Bachelors",
#                                           "B15003_023E": "Masters",
                                          "B23025_005E": "Unemployed",
                                          "C24010_008E": "STEM",
                                          "B25035_001E": "median_house_construction_year",
                                          "B25058_001E": "median_contract_rent",
                                          "B25064_001E": "median_gross_rent",
                                          "B25077_001E": "median_home_value",
                                          "B25088_002E": "median_monthly_owner_costs",
                                          "NAME": "Name", "zip code tabulation area": "Zipcode"})

In [53]:
census_pd.head()

Empty DataFrame
Columns: []
Index: []

In [54]:
l_census=[]
#for y in years:
c = Census("85ac64b6b5a9c0901b00329d1ef41f0c53ccfc98", year=2012)
    # Run Census Search to retrieve data on all zip codes (2013 ACS5 Census)
    # See: https://github.com/CommerceDataService/census-wrapper for library documentation
    # See: https://gist.github.com/afhaque/60558290d6efd892351c4b64e5c01e9b for labels
census_data =c.acs5.get(("NAME","B01003_001E","B01002_001E","B08136_003E",
                             "B19013_001E","B19301_001E","B02001_003E",
                             "B02001_002E", "B17001_002E","B25035_001E",
                            # "B15003_023E",
                             "B23025_005E","C24010_008E",
                             "B25077_001E"),
                            {"for": "zip code tabulation area:*"})
    # Convert to DataFrame
census_pd_2012 = pd.DataFrame(census_data)
 
    # Column Reordering
census_pd_2012 = census_pd_2012.rename(columns={"B01003_001E": "Population",
                                          "B01002_001E": "Median Age",
                                          "B08136_003E": "Commute Time",
                                          "B19013_001E": "Household Income",
                                          "B19301_001E": "Per Capita Income",
                                          "B02001_003E": "Black Population",
                                          "B02001_002E": "White Population",
                                          "B17001_002E": "Poverty Count",
                                          "B25035_001E": "Median Home Year",
                                          "B15003_022E": "Bachelors",
#                                           "B15003_023E": "Masters",
                                          "B23025_005E": "Unemployed",
                                          "C24010_008E": "STEM",
                                          "B25035_001E": "median_house_construction_year",
                                          "B25058_001E": "median_contract_rent",
                                          "B25064_001E": "median_gross_rent",
                                          "B25077_001E": "median_home_value",
                                          "B25088_002E": "median_monthly_owner_costs",
                                          "NAME": "Name", "zip code tabulation area": "Zipcode"})

In [55]:
census_pd.head()

Empty DataFrame
Columns: []
Index: []

In [56]:
l_census=[]
#for y in years:
c = Census("85ac64b6b5a9c0901b00329d1ef41f0c53ccfc98", year=2013)
    # Run Census Search to retrieve data on all zip codes (2013 ACS5 Census)
    # See: https://github.com/CommerceDataService/census-wrapper for library documentation
    # See: https://gist.github.com/afhaque/60558290d6efd892351c4b64e5c01e9b for labels
census_data =c.acs5.get(("NAME","B01003_001E","B01002_001E","B08136_003E",
                             "B19013_001E","B19301_001E","B02001_003E",
                             "B02001_002E", "B17001_002E","B25035_001E",
                            # "B15003_023E",
                             "B23025_005E","C24010_008E",
                             "B25077_001E"),
                            {"for": "zip code tabulation area:*"})
    # Convert to DataFrame
census_pd_2013 = pd.DataFrame(census_data)
 
    # Column Reordering
census_pd_2013 = census_pd_2013.rename(columns={"B01003_001E": "Population",
                                          "B01002_001E": "Median Age",
                                          "B08136_003E": "Commute Time",
                                          "B19013_001E": "Household Income",
                                          "B19301_001E": "Per Capita Income",
                                          "B02001_003E": "Black Population",
                                          "B02001_002E": "White Population",
                                          "B17001_002E": "Poverty Count",
                                          "B25035_001E": "Median Home Year",
                                          "B15003_022E": "Bachelors",
#                                           "B15003_023E": "Masters",
                                          "B23025_005E": "Unemployed",
                                          "C24010_008E": "STEM",
                                          "B25035_001E": "median_house_construction_year",
                                          "B25058_001E": "median_contract_rent",
                                          "B25064_001E": "median_gross_rent",
                                          "B25077_001E": "median_home_value",
                                          "B25088_002E": "median_monthly_owner_costs",
                                          "NAME": "Name", "zip code tabulation area": "Zipcode"})

In [57]:
census_pd.head()

Empty DataFrame
Columns: []
Index: []

In [58]:
l_census=[]
#for y in years:
c = Census("85ac64b6b5a9c0901b00329d1ef41f0c53ccfc98", year=2014)
    # Run Census Search to retrieve data on all zip codes (2013 ACS5 Census)
    # See: https://github.com/CommerceDataService/census-wrapper for library documentation
    # See: https://gist.github.com/afhaque/60558290d6efd892351c4b64e5c01e9b for labels
census_data =c.acs5.get(("NAME","B01003_001E","B01002_001E","B08136_003E",
                             "B19013_001E","B19301_001E","B02001_003E",
                             "B02001_002E", "B17001_002E","B25035_001E",
                            # "B15003_023E",
                             "B23025_005E","C24010_008E",
                             "B25077_001E"),
                            {"for": "zip code tabulation area:*"})
    # Convert to DataFrame
census_pd_2014 = pd.DataFrame(census_data)
 
    # Column Reordering
census_pd_2014 = census_pd_2014.rename(columns={"B01003_001E": "Population",
                                          "B01002_001E": "Median Age",
                                          "B08136_003E": "Commute Time",
                                          "B19013_001E": "Household Income",
                                          "B19301_001E": "Per Capita Income",
                                          "B02001_003E": "Black Population",
                                          "B02001_002E": "White Population",
                                          "B17001_002E": "Poverty Count",
                                          "B25035_001E": "Median Home Year",
                                          "B15003_022E": "Bachelors",
#                                           "B15003_023E": "Masters",
                                          "B23025_005E": "Unemployed",
                                          "C24010_008E": "STEM",
                                          "B25035_001E": "median_house_construction_year",
                                          "B25058_001E": "median_contract_rent",
                                          "B25064_001E": "median_gross_rent",
                                          "B25077_001E": "median_home_value",
                                          "B25088_002E": "median_monthly_owner_costs",
                                          "NAME": "Name", "zip code tabulation area": "Zipcode"})

In [59]:
census_pd.head()

Empty DataFrame
Columns: []
Index: []

In [60]:
l_census=[]
#for y in years:
c = Census("85ac64b6b5a9c0901b00329d1ef41f0c53ccfc98", year=2015)
    # Run Census Search to retrieve data on all zip codes (2013 ACS5 Census)
    # See: https://github.com/CommerceDataService/census-wrapper for library documentation
    # See: https://gist.github.com/afhaque/60558290d6efd892351c4b64e5c01e9b for labels
census_data =c.acs5.get(("NAME","B01003_001E","B01002_001E","B08136_003E",
                             "B19013_001E","B19301_001E","B02001_003E",
                             "B02001_002E", "B17001_002E","B25035_001E",
                            # "B15003_023E",
                             "B23025_005E","C24010_008E",
                             "B25077_001E"),
                            {"for": "zip code tabulation area:*"})
    # Convert to DataFrame
census_pd_2015 = pd.DataFrame(census_data)
 
    # Column Reordering
census_pd_2015 = census_pd_2015.rename(columns={"B01003_001E": "Population",
                                          "B01002_001E": "Median Age",
                                          "B08136_003E": "Commute Time",
                                          "B19013_001E": "Household Income",
                                          "B19301_001E": "Per Capita Income",
                                          "B02001_003E": "Black Population",
                                          "B02001_002E": "White Population",
                                          "B17001_002E": "Poverty Count",
                                          "B25035_001E": "Median Home Year",
                                          "B15003_022E": "Bachelors",
#                                           "B15003_023E": "Masters",
                                          "B23025_005E": "Unemployed",
                                          "C24010_008E": "STEM",
                                          "B25035_001E": "median_house_construction_year",
                                          "B25058_001E": "median_contract_rent",
                                          "B25064_001E": "median_gross_rent",
                                          "B25077_001E": "median_home_value",
                                          "B25088_002E": "median_monthly_owner_costs",
                                          "NAME": "Name", "zip code tabulation area": "Zipcode"})

In [61]:
census_pd.head()

Empty DataFrame
Columns: []
Index: []

In [62]:
l_census=[]
#for y in years:
c = Census("85ac64b6b5a9c0901b00329d1ef41f0c53ccfc98", year=2016)
    # Run Census Search to retrieve data on all zip codes (2013 ACS5 Census)
    # See: https://github.com/CommerceDataService/census-wrapper for library documentation
    # See: https://gist.github.com/afhaque/60558290d6efd892351c4b64e5c01e9b for labels
census_data =c.acs5.get(("NAME","B01003_001E","B01002_001E","B08136_003E",
                             "B19013_001E","B19301_001E","B02001_003E",
                             "B02001_002E", "B17001_002E","B25035_001E",
                            # "B15003_023E",
                             "B23025_005E","C24010_008E",
                             "B25077_001E"),
                            {"for": "zip code tabulation area:*"})
    # Convert to DataFrame
census_pd_2016 = pd.DataFrame(census_data)
 
    # Column Reordering
census_pd_2016 = census_pd_2016.rename(columns={"B01003_001E": "Population",
                                          "B01002_001E": "Median Age",
                                          "B08136_003E": "Commute Time",
                                          "B19013_001E": "Household Income",
                                          "B19301_001E": "Per Capita Income",
                                          "B02001_003E": "Black Population",
                                          "B02001_002E": "White Population",
                                          "B17001_002E": "Poverty Count",
                                          "B25035_001E": "Median Home Year",
                                          "B15003_022E": "Bachelors",
#                                           "B15003_023E": "Masters",
                                          "B23025_005E": "Unemployed",
                                          "C24010_008E": "STEM",
                                          "B25035_001E": "median_house_construction_year",
                                          "B25058_001E": "median_contract_rent",
                                          "B25064_001E": "median_gross_rent",
                                          "B25077_001E": "median_home_value",
                                          "B25088_002E": "median_monthly_owner_costs",
                                          "NAME": "Name", "zip code tabulation area": "Zipcode"})

In [63]:
census_pd.merge(census_pd_2011)
census_pd.append(census_pd_2012)

census_pd.append(census_pd_2013)

census_pd.append(census_pd_2014)

census_pd.append(census_pd_2015)
census_pd.append(census_pd_2016)

,Median Age,Population,White Population,Black Population,Commute Time,Poverty Count,Household Income,Per Capita Income,Unemployed,median_house_construction_year,median_home_value,STEM,Name,Zipcode
0,45.0,17423.0,15974.0,256.0,NaN,1462.0,56714.0,30430.0,479.0,1969.0,202800.0,170.0,ZCTA5 01001,01001
1,23.2,29970.0,23459.0,1711.0,188755.0,8351.0,48923.0,26072.0,1271.0,1971.0,344000.0,206.0,ZCTA5 01002,01002
2,19.9,11296.0,8698.0,660.0,NaN,54.0,2499.0,3829.0,1021.0,1971.0,-666666666.0,52.0,ZCTA5 01003,01003
3,44.1,5228.0,5063.0,105.0,NaN,230.0,70568.0,32169.0,153.0,1971.0,213700.0,19.0,ZCTA5 01005,01005
4,42.5,14888.0,13906.0,125.0,NaN,1410.0,80502.0,36359.0,543.0,1982.0,258000.0,171.0,ZCTA5 01007,01007
5,48.5,1194.0,1182.0,0.0,NaN,49.0,67250.0,34505.0,63.0,1963.0,235000.0,20.0,ZCTA5 01008,01008
6,62.2,237.0,237.0,0.0,2955.0,105.0,-666666666.0,26150.0,0.0,1939.0,218800.0,0.0,ZCTA5 01009,01009
7,46.6,3718.0,3703.0,9.0,NaN,95.0,83273.0,38693.0,132.0,1971.0,267400.0,23.0,ZCTA5 01010,01010
8,41.0,1523.0,1462.0,15.0,NaN,110.0,74722.0,29951.0,55.0,1948.0,188900.0,9.0,ZCTA5 01011,01011
9,50.5,528.0,520.0,0.0,NaN,60.0,60417.0,34032.0,31.0,1955.0,228400.0,8.0,ZCTA5 01012,01012
10,35.0,22943.0,19344.0,808.0,156950.0,4233.0,40876.0,21677.0,1097.0,1948.0,173400.0,85.0,ZCTA5 01013,01013
11,44.5,30629.0,27211.0,957.0,271525.0,3166.0,57851.0,29705.0,1246.0,1958.0,179300.0,267.0,ZCTA5 01020,01020
12,41.1,2528.0,1848.0,414.0,NaN,644.0,44701.0,26605.0,129.0,1959.0,121100.0,10.0,ZCTA5 01022,01022
13,51.2,1018.0,974.0,33.0,NaN,45.0,50924.0,28269.0,22.0,1960.0,259100.0,0.0,ZCTA5 01026,01026
14,45.1,17872.0,16675.0,326.0,NaN,1774.0,61217.0,33598.0,769.0,1963.0,247900.0,206.0,ZCTA5 01027,01027
15,46.0,16063.0,14485.0,981.0,NaN,677.0,83003.0,39282.0,474.0,1966.0,259800.0,133.0,ZCTA5 01028,01028
16,47.9,760.0,746.0,7.0,13840.0,96.0,54375.0,32415.0,43.0,1962.0,289500.0,9.0,ZCTA5 01029,01029
17,44.9,11278.0,10824.0,195.0,109830.0,1124.0,64874.0,32812.0,233.0,1972.0,241800.0,77.0,ZCTA5 01030,01030
18,43.2,1192.0,1161.0,8.0,NaN,268.0,39327.0,26153.0,98.0,1939.0,183300.0,11.0,ZCTA5 01031,01031
19,49.3,590.0,586.0,0.0,NaN,15.0,73750.0,36045.0,21.0,1962.0,253300.0,12.0,ZCTA5 01032,01032
20,45.5,6310.0,6172.0,0.0,NaN,290.0,86951.0,39115.0,140.0,1965.0,262100.0,35.0,ZCTA5 01033,01033
21,46.6,2323.0,2278.0,2.0,NaN,230.0,82159.0,32783.0,82.0,1974.0,262400.0,20.0,ZCTA5 01034,01034
22,46.3,5338.0,5001.0,121.0,NaN,384.0,62634.0,40287.0,29.0,1967.0,325900.0,0.0,ZCTA5 01035,01035
23,48.7,5190.0,5143.0,10.0,NaN,256.0,80375.0,38547.0,198.0,1966.0,271200.0,64.0,ZCTA5 01036,01036
24,50.3,755.0,692.0,12.0,NaN,86.0,80417.0,33913.0,30.0,1982.0,313200.0,0.0,ZCTA5 01037,01037
25,50.7,2853.0,2787.0,21.0,26320.0,157.0,65887.0,35804.0,39.0,1963.0,282700.0,0.0,ZCTA5 01038,01038
26,54.0,1194.0,1170.0,6.0,12275.0,78.0,74107.0,43845.0,61.0,1956.0,271900.0,7.0,ZCTA5 01039,01039
27,34.4,40280.0,33779.0,1780.0,251430.0,11227.0,38829.0,21897.0,1976.0,1941.0,188600.0,232.0,ZCTA5 01040,01040
28,45.7,2343.0,2192.0,95.0,NaN,221.0,72386.0,29854.0,41.0,1970.0,220000.0,28.0,ZCTA5 01050,01050
29,49.8,1697.0,1579.0,62.0,NaN,251.0,66528.0,30391.0,42.0,1963.0,278600.0,24.0,ZCTA5 01053,01053
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33090,37.1,36104.0,23343.0,8914.0,201340.0,16497.0,18334.0,11886.0,1589.0,1960.0,147900.0,215.0,ZCTA5 00921,00921
33091,39.8,25745.0,18477.0,3601.0,116230.0,14130.0,14631.0,10920.0,2317.0,1964.0,115800.0,62.0,ZCTA5 00923,00923
33092,37.7,54062.0,34562.0,8541.0,321365.0,25640.0,18535.0,11850.0,4735.0,1969.0,134600.0,195.0,ZCTA5 00924,00924
33093,31.6,6924.0,3951.0,919.0,NaN,4090.0,10247.0,10511.0,735.0,1961.0,122600.0,51.0,ZCTA5 00925,00925
33094,41.4,101337.0,79047.0,7146.0,NaN,30283.0,32583.0,21693.0,4055.0,1976.0,180500.0,579.0,ZCTA5 00926,00926
33095,45.2,14229.0,12405.0,659.0,91075.0,3816.0,32083.0,25057.0,632.0,1968.0,217200.0,27.0,ZCTA5 00927,00927
33096,38.7,67.0,12.0,55.0,200.0,0.0,66063.0,51703.0,0.0,1956.0,-666666666.0,0.0,ZCTA5 00934,00934
33097,52.5,893.0,695.0,18.0,-666666666.0,0.0,-666666666.0,8502.0,0.0,-666666666.0,-666666666.0,0.0,ZCTA5 00936,00936
33098,38.4,77458.0,44216.0,6205.0,707415.0,27562.0,25226.0,12656.0,6084.0,1978.0,138800.0,280.0,ZCTA5 00949,00949
33099,-666666666.0,0.0,0.0,0.0,-666666666.0,0.0,-666666666.0,-666666666.0,0.0,-666666666.0,-666666666.0,0.0,ZCTA5 00950,00950
33100,-666666666.0,8.0,0.0,8.0,NaN,8.0,-666666666.0,NaN,0.0,-666666666.0,-666666666.0,0.0,ZCTA5 00951,00951
33101,41.1,9078.0,3739.0,807.0,59290.0,3837.0,16577.0,9257.0,706.0,1974.0,115100.0,0.0,ZCTA5 00952,00952
33102,36.6,72712.0,53946.0,5713.0,NaN,22188.0,29793.0,14042.0,4687.0,1990.0,147800.0,369.0,ZCTA5 00953,00953
33103,39.6,71602.0,47551.0,6124.0,658505.0,27492.0,22432.0,11296.0,5421.0,1975.0,134000.0,235.0,ZCTA5 00956,00956
33104,38.8,42155.0,26521.0,2532.0,NaN,15785.0,23886.0,12442.0,2718.0,1973.0,136800.0,110.0,ZCTA5 00957,00957
33105,40.2,48349.0,31063.0,3187.0,445380.0,14437.0,28215.0,15518.0,2714.0,1971.0,148500.0,203.0,ZCTA5 00959,00959
33106,33.2,2429.0,1034.0,215.0,-666666666.0,18.0,-666666666.0,6539.0,0.0,-666666666.0,-666666666.0,0.0,ZCTA5 00960,00960
33107,42.1,30655.0,15854.0,2250.0,NaN,8895.0,28203.0,16501.0,1592.0,1974.0,153400.0,148.0,ZCTA5 00961,00961
33108,36.6,20509.0,12891.0,2265.0,107155.0,11245.0,15782.0,9157.0,2729.0,1971.0,112000.0,33.0,ZCTA5 00962,00962
33109,39.9,7543.0,4308.0,627.0,NaN,3923.0,15274.0,9839.0,759.0,1968.0,105200.0,0.0,ZCTA5 00965,00965
33110,44.2,15981.0,13211.0,591.0,NaN,2893.0,50570.0,36079.0,609.0,1975.0,248400.0,132.0,ZCTA5 00966,00966
33111,56.6,3293.0,2997.0,78.0,NaN,354.0,46047.0,43362.0,132.0,1977.0,226300.0,45.0,ZCTA5 00968,00968
33112,40.9,43372.0,35773.0,1693.0,NaN,7532.0,53175.0,27852.0,1683.0,1982.0,238800.0,182.0,ZCTA5 00969,00969
33113,42.5,28550.0,20041.0,2227.0,244015.0,11107.0,20860.0,14020.0,2039.0,1984.0,151600.0,236.0,ZCTA5 00971,00971
33114,39.3,61084.0,45418.0,6013.0,NaN,18363.0,30027.0,16207.0,2112.0,1982.0,155100.0,124.0,ZCTA5 00976,00976
33115,49.6,15019.0,10695.0,2175.0,146030.0,2613.0,35251.0,28053.0,540.0,1974.0,181600.0,86.0,ZCTA5 00979,00979
33116,43.0,14874.0,8000.0,3998.0,99820.0,5189.0,25362.0,13301.0,1026.0,1966.0,139600.0,32.0,ZCTA5 00982,00982
33117,40.4,38533.0,20214.0,9676.0,NaN,12301.0,27612.0,13459.0,2487.0,1970.0,149500.0,55.0,ZCTA5 00983,00983
33118,41.0,33320.0,18000.0,8715.0,245585.0,11302.0,24091.0,13108.0,2440.0,1974.0,142100.0,74.0,ZCTA5 00985,00985
33119,37.6,58705.0,32526.0,13125.0,646190.0,15396.0,31758.0,15522.0,3775.0,1987.0,152000.0,267.0,ZCTA5 00987,00987

In [65]:
census_pd[0].head()

KeyError: 0