In [72]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import requests
from census import Census
from us import states
#! pip install us

In [73]:


census_pd=pd.DataFrame()

In [74]:

# Census API Key
#years = [2011, 2012, 2013, 2014, 2015,2016]
l_census=[]
#for y in years:
c = Census("85ac64b6b5a9c0901b00329d1ef41f0c53ccfc98", year=2011)
    # Run Census Search to retrieve data on all zip codes (2013 ACS5 Census)
    # See: https://github.com/CommerceDataService/census-wrapper for library documentation
    # See: https://gist.github.com/afhaque/60558290d6efd892351c4b64e5c01e9b for labels
census_data =c.acs5.get(("NAME","B01003_001E","B01002_001E","B08136_003E",
                             "B19013_001E","B19301_001E","B02001_003E",
                             "B02001_002E", "B17001_002E","B25035_001E",
                            # "B15003_023E",
                             "B23025_005E","C24010_008E",
                             "B25077_001E"),
                            {"for": "zip code tabulation area:*"})
    # Convert to DataFrame
census_pd_2011 = pd.DataFrame(census_data)
 
    # Column Reordering
census_pd_2011 = census_pd_2011.rename(columns={"B01003_001E": "Population 2011",
                                          "B01002_001E": "Median Age 2011",
                                          "B08136_003E": "Commute Time 2011",
                                          "B19013_001E": "Household Income 2011",
                                          "B19301_001E": "Per Capita Income 2011",
                                          "B02001_003E": "Black Population 2011",
                                          "B02001_002E": "White Population 2011",
                                          "B17001_002E": "Poverty Count 2011",
                                          "B25035_001E": "Median Home Year 2011",
                                          "B15003_022E": "Bachelors 2011",
#                                           "B15003_023E": "Masters",
                                          "B23025_005E": "Unemployed 2011",
                                          "C24010_008E": "STEM 2011",
                                          "B25035_001E": "median_house_construction_year 2011",
                                          "B25058_001E": "median_contract_rent 2011",
                                          "B25064_001E": "median_gross_rent 2011",
                                          "B25077_001E": "median_home_value 2011",
                                          "B25088_002E": "median_monthly_owner_costs2011",
                                          "NAME": "Name", "zip code tabulation area": "Zipcode"})

In [75]:
census_pd.head()

Empty DataFrame
Columns: []
Index: []

In [76]:
l_census=[]
#for y in years:
c = Census("85ac64b6b5a9c0901b00329d1ef41f0c53ccfc98", year=2012)
    # Run Census Search to retrieve data on all zip codes (2013 ACS5 Census)
    # See: https://github.com/CommerceDataService/census-wrapper for library documentation
    # See: https://gist.github.com/afhaque/60558290d6efd892351c4b64e5c01e9b for labels
census_data =c.acs5.get(("NAME","B01003_001E","B01002_001E","B08136_003E",
                             "B19013_001E","B19301_001E","B02001_003E",
                             "B02001_002E", "B17001_002E","B25035_001E",
                            # "B15003_023E",
                             "B23025_005E","C24010_008E",
                             "B25077_001E"),
                            {"for": "zip code tabulation area:*"})
    # Convert to DataFrame
census_pd_2012 = pd.DataFrame(census_data)
 
    # Column Reordering
census_pd_2012 = census_pd_2012.rename(columns={"B01003_001E": "Population 2012",
                                          "B01002_001E": "Median Age 2012",
                                          "B08136_003E": "Commute Time 2012",
                                          "B19013_001E": "Household Income 2012",
                                          "B19301_001E": "Per Capita Income 2012",
                                          "B02001_003E": "Black Population 2012",
                                          "B02001_002E": "White Population2012",
                                          "B17001_002E": "Poverty Count2012",
                                          "B25035_001E": "Median Home Year2012",
                                          "B15003_022E": "Bachelors2012",
#                                           "B15003_023E": "Masters",
                                          "B23025_005E": "Unemployed 2012",
                                          "C24010_008E": "STEM 2012",
                                          "B25035_001E": "median_house_construction_year 2012",
                                          "B25058_001E": "median_contract_rent 2012",
                                          "B25064_001E": "median_gross_rent 2012",
                                          "B25077_001E": "median_home_value 2012",
                                          "B25088_002E": "median_monthly_owner_costs2012",
                                          "NAME": "Name", "zip code tabulation area": "Zipcode"})

In [77]:
census_pd.head()

Empty DataFrame
Columns: []
Index: []

In [78]:
l_census=[]
#for y in years:
c = Census("85ac64b6b5a9c0901b00329d1ef41f0c53ccfc98", year=2013)
    # Run Census Search to retrieve data on all zip codes (2013 ACS5 Census)
    # See: https://github.com/CommerceDataService/census-wrapper for library documentation
    # See: https://gist.github.com/afhaque/60558290d6efd892351c4b64e5c01e9b for labels
census_data =c.acs5.get(("NAME","B01003_001E","B01002_001E","B08136_003E",
                             "B19013_001E","B19301_001E","B02001_003E",
                             "B02001_002E", "B17001_002E","B25035_001E",
                            # "B15003_023E",
                             "B23025_005E","C24010_008E",
                             "B25077_001E"),
                            {"for": "zip code tabulation area:*"})
    # Convert to DataFrame
census_pd_2013 = pd.DataFrame(census_data)
 
    # Column Reordering
census_pd_2013 = census_pd_2013.rename(columns={"B01003_001E": "Population 2013",
                                          "B01002_001E": "Median Age 2013",
                                          "B08136_003E": "Commute Time 2013",
                                          "B19013_001E": "Household Income 2013",
                                          "B19301_001E": "Per Capita Income 2013",
                                          "B02001_003E": "Black Population 2013",
                                          "B02001_002E": "White Population 2013",
                                          "B17001_002E": "Poverty Count 2013",
                                          "B25035_001E": "Median Home Year2013",
                                          "B15003_022E": "Bachelors 2013",
#                                           "B15003_023E": "Masters",
                                          "B23025_005E": "Unemployed 2013",
                                          "C24010_008E": "STEM 2013",
                                          "B25035_001E": "median_house_construction_year 2013",
                                          "B25058_001E": "median_contract_rent 2013",
                                          "B25064_001E": "median_gross_rent2013",
                                          "B25077_001E": "median_home_value2013",
                                          "B25088_002E": "median_monthly_owner_costs2013",
                                          "NAME": "Name", "zip code tabulation area": "Zipcode"})

In [79]:
census_pd.head()

Empty DataFrame
Columns: []
Index: []

In [80]:
l_census=[]
#for y in years:
c = Census("85ac64b6b5a9c0901b00329d1ef41f0c53ccfc98", year=2014)
    # Run Census Search to retrieve data on all zip codes (2013 ACS5 Census)
    # See: https://github.com/CommerceDataService/census-wrapper for library documentation
    # See: https://gist.github.com/afhaque/60558290d6efd892351c4b64e5c01e9b for labels
census_data =c.acs5.get(("NAME","B01003_001E","B01002_001E","B08136_003E",
                             "B19013_001E","B19301_001E","B02001_003E",
                             "B02001_002E", "B17001_002E","B25035_001E",
                            # "B15003_023E",
                             "B23025_005E","C24010_008E",
                             "B25077_001E"),
                            {"for": "zip code tabulation area:*"})
    # Convert to DataFrame
census_pd_2014 = pd.DataFrame(census_data)
 
    # Column Reordering
census_pd_2014 = census_pd_2014.rename(columns={"B01003_001E": "Population 2014",
                                          "B01002_001E": "Median Age 2014",
                                          "B08136_003E": "Commute Time 2014",
                                          "B19013_001E": "Household Income 2014",
                                          "B19301_001E": "Per Capita Income 2014",
                                          "B02001_003E": "Black Population 2014",
                                          "B02001_002E": "White Population 2014",
                                          "B17001_002E": "Poverty Count 2014",
                                          "B25035_001E": "Median Home Year 2014",
                                          "B15003_022E": "Bachelors 2014",
#                                           "B15003_023E": "Masters",
                                          "B23025_005E": "Unemployed 2014",
                                          "C24010_008E": "STEM 2014",
                                          "B25035_001E": "median_house_construction_year 2014",
                                          "B25058_001E": "median_contract_rent 2014",
                                          "B25064_001E": "median_gross_rent 2014",
                                          "B25077_001E": "median_home_value 2014",
                                          "B25088_002E": "median_monthly_owner_costs 2014",
                                          "NAME": "Name", "zip code tabulation area": "Zipcode"})

In [81]:
census_pd.head()

Empty DataFrame
Columns: []
Index: []

In [82]:
l_census=[]
#for y in years:
c = Census("85ac64b6b5a9c0901b00329d1ef41f0c53ccfc98", year=2015)
    # Run Census Search to retrieve data on all zip codes (2013 ACS5 Census)
    # See: https://github.com/CommerceDataService/census-wrapper for library documentation
    # See: https://gist.github.com/afhaque/60558290d6efd892351c4b64e5c01e9b for labels
census_data =c.acs5.get(("NAME","B01003_001E","B01002_001E","B08136_003E",
                             "B19013_001E","B19301_001E","B02001_003E",
                             "B02001_002E", "B17001_002E","B25035_001E",
                            # "B15003_023E",
                             "B23025_005E","C24010_008E",
                             "B25077_001E"),
                            {"for": "zip code tabulation area:*"})
    # Convert to DataFrame
census_pd_2015 = pd.DataFrame(census_data)
 
    # Column Reordering
census_pd_2015 = census_pd_2015.rename(columns={"B01003_001E": "Population 2015",
                                          "B01002_001E": "Median Age 2015",
                                          "B08136_003E": "Commute Time 2015",
                                          "B19013_001E": "Household Income 2015",
                                          "B19301_001E": "Per Capita Income 2015",
                                          "B02001_003E": "Black Population 2015",
                                          "B02001_002E": "White Population 2015",
                                          "B17001_002E": "Poverty Count 2015",
                                          "B25035_001E": "Median Home Year 2015",
                                          "B15003_022E": "Bachelors 2015",
#                                           "B15003_023E": "Masters",
                                          "B23025_005E": "Unemployed 2015",
                                          "C24010_008E": "STEM 2015",
                                          "B25035_001E": "median_house_construction_year 2015",
                                          "B25058_001E": "median_contract_rent 2015",
                                          "B25064_001E": "median_gross_rent 2015",
                                          "B25077_001E": "median_home_value 2015",
                                          "B25088_002E": "median_monthly_owner_costs 2015",
                                          "NAME": "Name", "zip code tabulation area": "Zipcode"})

In [83]:
census_pd.head()

Empty DataFrame
Columns: []
Index: []

In [84]:
l_census=[]
#for y in years:
c = Census("85ac64b6b5a9c0901b00329d1ef41f0c53ccfc98", year=2016)
    # Run Census Search to retrieve data on all zip codes (2013 ACS5 Census)
    # See: https://github.com/CommerceDataService/census-wrapper for library documentation
    # See: https://gist.github.com/afhaque/60558290d6efd892351c4b64e5c01e9b for labels
census_data =c.acs5.get(("NAME","B01003_001E","B01002_001E","B08136_003E",
                             "B19013_001E","B19301_001E","B02001_003E",
                             "B02001_002E", "B17001_002E","B25035_001E",
                            # "B15003_023E",
                             "B23025_005E","C24010_008E",
                             "B25077_001E"),
                            {"for": "zip code tabulation area:*"})
    # Convert to DataFrame
census_pd_2016 = pd.DataFrame(census_data)
 
    # Column Reordering
census_pd_2016 = census_pd_2016.rename(columns={"B01003_001E": "Population 2016",
                                          "B01002_001E": "Median Age 2016",
                                          "B08136_003E": "Commute Time 2016",
                                          "B19013_001E": "Household Income 2016",
                                          "B19301_001E": "Per Capita Income 2016",
                                          "B02001_003E": "Black Population 2016",
                                          "B02001_002E": "White Population 2016",
                                          "B17001_002E": "Poverty Count 2016",
                                          "B25035_001E": "Median Home Year 2016",
                                          "B15003_022E": "Bachelors 2016",
#                                           "B15003_023E": "Masters",
                                          "B23025_005E": "Unemployed 2016",
                                          "C24010_008E": "STEM 2016",
                                          "B25035_001E": "median_house_construction_year 2016",
                                          "B25058_001E": "median_contract_rent 2016",
                                          "B25064_001E": "median_gross_rent 2016",
                                          "B25077_001E": "median_home_value 2016",
                                          "B25088_002E": "median_monthly_owner_costs 2016",
                                          "NAME": "Name", "zip code tabulation area": "Zipcode"})

In [85]:
census_pd_2011.info()
pd.merge(census_pd_2011, census_pd_2012, on='Zipcode')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33120 entries, 0 to 33119
Data columns (total 14 columns):
Median Age 2011                        32666 non-null object
Population 2011                        33120 non-null object
White Population 2011                  33120 non-null object
Black Population 2011                  33120 non-null object
Commute Time 2011                      9278 non-null object
Poverty Count 2011                     33120 non-null object
Household Income 2011                  32197 non-null object
Per Capita Income 2011                 32481 non-null object
Unemployed 2011                        33120 non-null object
median_house_construction_year 2011    32387 non-null object
median_home_value 2011                 31860 non-null object
STEM 2011                              33120 non-null object
Name                                   33120 non-null object
Zipcode                                33120 non-null object
dtypes: object(14)
memory usage: 3.5+ MB

,Median Age 2011,Population 2011,White Population 2011,Black Population 2011,Commute Time 2011,Poverty Count 2011,Household Income 2011,Per Capita Income 2011,Unemployed 2011,median_house_construction_year 2011,...,Black Population 2012,Commute Time 2012,Poverty Count2012,Household Income 2012,Per Capita Income 2012,Unemployed 2012,median_house_construction_year 2012,median_home_value 2012,STEM 2012,Name_y
0,44.1,16775,15996,259,None,1428,59453,28931,565,1963,...,347.0,NaN,1251.0,63682.0,29158.0,635.0,1964.0,216300.0,125.0,ZCTA5 01001
1,23.8,27684,21922,1190,None,5795,54395,30110,1330,1972,...,1433.0,NaN,6286.0,56175.0,28205.0,1332.0,1972.0,343500.0,423.0,ZCTA5 01002
2,19.9,11516,9574,636,None,0,None,3483,860,2005,...,539.0,NaN,1.0,165865.0,3375.0,1023.0,2003.0,NaN,61.0,ZCTA5 01003
3,42.8,5045,4953,6,None,223,74167,33510,293,1965,...,6.0,NaN,237.0,75856.0,32604.0,289.0,1969.0,226500.0,16.0,ZCTA5 01005
4,40.5,14479,13619,188,None,660,75502,32898,462,1983,...,194.0,184780.0,870.0,77617.0,33195.0,569.0,1982.0,268400.0,109.0,ZCTA5 01007
5,47,1196,1176,0,None,44,78563,36374,41,1960,...,0.0,NaN,35.0,78313.0,33399.0,28.0,1958.0,257100.0,0.0,ZCTA5 01008
6,40.7,663,638,0,None,64,46625,29190,127,1941,...,0.0,NaN,53.0,48472.0,28508.0,90.0,1945.0,168800.0,0.0,ZCTA5 01009
7,41.8,3582,3582,0,None,130,78380,31671,169,1975,...,0.0,NaN,159.0,79891.0,33625.0,187.0,1972.0,257500.0,20.0,ZCTA5 01010
8,46.6,1331,1320,4,None,103,55795,27671,65,1943,...,13.0,NaN,98.0,59732.0,27424.0,62.0,1939.0,206900.0,17.0,ZCTA5 01011
9,50.8,509,509,0,None,22,49821,30674,28,1954,...,0.0,NaN,30.0,56033.0,32069.0,20.0,1955.0,240200.0,3.0,ZCTA5 01012
10,36.4,22391,18287,849,159130,4157,39502,20433,1129,1949,...,957.0,159850.0,4283.0,41612.0,20940.0,1123.0,1950.0,181000.0,12.0,ZCTA5 01013
11,42.6,30225,26893,641,260785,2821,50045,26104,1453,1958,...,829.0,268605.0,2614.0,51438.0,26408.0,1587.0,1957.0,185500.0,93.0,ZCTA5 01020
12,34.3,2589,2097,297,None,564,51512,23945,311,1957,...,328.0,NaN,576.0,57750.0,26669.0,257.0,1958.0,131800.0,8.0,ZCTA5 01022
13,44.4,1100,1055,21,None,153,61250,29468,34,1953,...,24.0,NaN,118.0,51932.0,30337.0,36.0,1959.0,279000.0,3.0,ZCTA5 01026
14,43.4,17641,16140,214,197000,984,55959,31204,700,1961,...,258.0,NaN,1010.0,57134.0,31576.0,789.0,1962.0,236500.0,253.0,ZCTA5 01027
15,43.4,15555,14318,499,145550,683,76517,34417,448,1964,...,630.0,150820.0,594.0,82451.0,36499.0,513.0,1965.0,266500.0,110.0,ZCTA5 01028
16,48,577,540,0,None,83,63068,38466,37,1960,...,0.0,NaN,80.0,61250.0,33293.0,40.0,1962.0,331900.0,0.0,ZCTA5 01029
17,43.8,11633,10990,216,None,768,74948,31332,372,1971,...,236.0,NaN,867.0,73611.0,33044.0,370.0,1972.0,250600.0,53.0,ZCTA5 01030
18,38.5,1524,1364,46,None,223,47639,28801,100,1939,...,40.0,NaN,352.0,46650.0,26542.0,134.0,1939.0,226300.0,0.0,ZCTA5 01031
19,43.5,681,627,4,None,23,70455,28842,16,1958,...,0.0,9300.0,26.0,65833.0,30047.0,19.0,1957.0,241000.0,3.0,ZCTA5 01032
20,44.2,6159,5894,0,None,333,70771,31453,128,1960,...,0.0,NaN,174.0,72731.0,32372.0,133.0,1964.0,240900.0,29.0,ZCTA5 01033
21,45.5,1856,1811,7,None,59,71490,33079,78,1972,...,6.0,NaN,108.0,70625.0,31203.0,102.0,1973.0,289100.0,8.0,ZCTA5 01034
22,46.1,5209,4908,174,None,308,75313,31727,133,1963,...,132.0,NaN,413.0,77891.0,34366.0,122.0,1965.0,335900.0,53.0,ZCTA5 01035
23,48.3,5078,4942,48,None,123,82963,38375,208,1965,...,48.0,NaN,233.0,82417.0,36152.0,214.0,1965.0,277000.0,8.0,ZCTA5 01036
24,46.1,819,765,0,None,70,121815,34702,17,1981,...,0.0,6990.0,45.0,115250.0,40002.0,26.0,1946.0,318400.0,0.0,ZCTA5 01037
25,46.1,2553,2509,5,None,204,62404,36322,94,1952,...,2.0,NaN,238.0,61346.0,33394.0,107.0,1959.0,299200.0,0.0,ZCTA5 01038
26,49.9,1470,1454,0,None,119,78333,38460,30,1957,...,0.0,NaN,106.0,74464.0,38145.0,36.0,1939.0,296800.0,19.0,ZCTA5 01039
27,36.6,39897,33567,1623,214515,12155,33915,20370,2565,1948,...,1772.0,224895.0,11918.0,34961.0,20294.0,2265.0,1947.0,189300.0,133.0,ZCTA5 01040
28,41.7,2656,2508,0,39600,201,60179,28779,73,1960,...,18.0,NaN,182.0,64271.0,28548.0,71.0,1961.0,225300.0,30.0,ZCTA5 01050
29,50.5,1913,1734,52,17275,260,69435,31175,98,1968,...,67.0,NaN,235.0,67031.0,27417.0,126.0,1955.0,281900.0,7.0,ZCTA5 01053
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33090,35.9,39489,25295,9164,None,17571,19925,11782,3708,1960,...,10876.0,NaN,17525.0,19079.0,11405.0,3735.0,1959.0,155400.0,153.0,ZCTA5 00921
33091,35.4,30755,17411,5785,146790,14831,16510,10584,2221,1962,...,6096.0,151615.0,14785.0,16164.0,10401.0,2467.0,1962.0,115300.0,48.0,ZCTA5 00923
33092,34.7,57518,34362,10517,368415,24724,19810,11063,4317,1969,...,11013.0,345815.0,25927.0,19720.0,11147.0,4393.0,1969.0,141300.0,207.0,ZCTA5 00924
33093,31.2,6567,3322,1137,24695,3238,14237,9957,601,1956,...,1201.0,26850.0,3422.0,14209.0,10371.0,604.0,1955.0,156400.0,42.0,ZCTA5 00925
33094,38.9,111275,77548,9417,None,28647,36231,20923,4232,1977,...,9152.0,NaN,27292.0,36008.0,21280.0,4417.0,1977.0,195000.0,716.0,ZCTA5 00926
33095,43.4,15449,12762,1280,None,2992,34843,28307,534,1965,...,1370.0,NaN,3293.0,34633.0,28626.0,571.0,1966.0,247700.0,34.0,ZCTA5 00927
33096,26.8,274,182,22,None,72,60893,20108,16,1957,...,45.0,NaN,74.0,64398.0,23214.0,0.0,1958.0,NaN,0.0,ZCTA5 00934
33097,53,1431,787,194,None,34,None,12566,2,None,...,156.0,NaN,18.0,NaN,15735.0,0.0,NaN,NaN,0.0,ZCTA5 00936
33098,35.2,82644,51763,8976,716660,29926,24420,11857,5332,1976,...,9059.0,722400.0,30177.0,25173.0,11965.0,5853.0,1977.0,132400.0,147.0,ZCTA5 00949
33099,None,0,0,0,None,0,None,None,0,None,...,0.0,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,ZCTA5 00950
33100,None,6,6,0,None,6,None,None,0,None,...,10.0,NaN,16.0,10500.0,NaN,0.0,1978.0,210000.0,0.0,ZCTA5 00951
33101,37.1,10294,3596,1450,None,4695,16754,8471,785,1972,...,1216.0,NaN,4378.0,17856.0,9100.0,913.0,1972.0,121400.0,15.0,ZCTA5 00952
33102,33.9,72520,43624,4084,787135,26696,26851,12027,3430,1986,...,5247.0,826620.0,26019.0,27554.0,12547.0,4486.0,1988.0,149100.0,362.0,ZCTA5 00953
33103,37.5,80531,50769,5353,732580,29805,23040,10807,6816,1973,...,5608.0,724770.0,30344.0,22374.0,10530.0,6977.0,1974.0,137500.0,265.0,ZCTA5 00956
33104,35.8,46777,30179,3457,None,17392,22996,10911,3426,1972,...,3684.0,NaN,17633.0,22484.0,11084.0,3542.0,1973.0,140500.0,166.0,ZCTA5 00957
33105,37.7,48521,31817,3705,None,15014,26704,13773,3271,1970,...,3648.0,NaN,15129.0,26612.0,13900.0,3270.0,1971.0,154900.0,214.0,ZCTA5 00959
33106,31.7,2240,947,359,None,13,None,7138,0,None,...,132.0,NaN,14.0,NaN,8766.0,0.0,NaN,NaN,0.0,ZCTA5 00960
33107,40.7,32703,21286,2242,257250,8661,30902,15163,2204,1975,...,2270.0,256300.0,8499.0,30952.0,15349.0,2348.0,1975.0,159800.0,192.0,ZCTA5 00961
33108,34.1,22523,14410,2396,99635,12151,15714,7889,2301,1970,...,2145.0,102945.0,12074.0,15565.0,7970.0,2520.0,1971.0,110700.0,18.0,ZCTA5 00962
33109,34.7,9579,5670,1636,None,5339,14891,7216,1200,1968,...,1378.0,NaN,5145.0,14874.0,7355.0,1252.0,1968.0,90000.0,9.0,ZCTA5 00965
33110,39.7,17696,14832,677,129125,3120,53542,32401,933,1975,...,596.0,133460.0,3178.0,52813.0,32920.0,994.0,1975.0,288100.0,145.0,ZCTA5 00966
33111,52.3,3774,3504,74,None,360,39940,32556,141,1977,...,75.0,NaN,408.0,40000.0,32422.0,149.0,1976.0,232900.0,0.0,ZCTA5 00968
33112,38.9,42066,35235,2095,None,7258,49777,25894,2020,1981,...,2165.0,NaN,6998.0,50728.0,26075.0,2125.0,1982.0,245500.0,278.0,ZCTA5 00969
33113,38.8,30911,21677,1441,None,11136,23448,13061,2687,1981,...,1542.0,220160.0,11444.0,22550.0,12479.0,2772.0,1982.0,164200.0,90.0,ZCTA5 00971
33114,35.2,64650,42434,4518,627415,21355,29258,14592,2404,1978,...,4850.0,633710.0,19995.0,30525.0,14682.0,2190.0,1979.0,160500.0,169.0,ZCTA5 00976
33115,44.8,16836,12900,1127,135755,3169,38605,25230,659,1974,...,1415.0,143390.0,2843.0,39747.0,26056.0,667.0,1974.0,214300.0,31.0,ZCTA5 00979
33116,41.5,16370,10475,2428,None,5111,24547,12198,766,1966,...,3154.0,NaN,4946.0,25489.0,12535.0,877.0,1966.0,149300.0,54.0,ZCTA5 00982
33117,36,42438,25874,6708,None,13349,26186,13213,2305,1969,...,7829.0,NaN,13102.0,27121.0,13904.0,2531.0,1969.0,156600.0,131.0,ZCTA5 00983
33118,38.2,38155,22081,6631,None,12914,25585,11689,2660,1971,...,7122.0,NaN,12105.0,26653.0,12074.0,2641.0,1971.0,145100.0,184.0,ZCTA5 00985
33119,35.5,60789,37691,8256,611300,17114,31286,13635,3163,1983,...,9402.0,606420.0,16506.0,32364.0,13797.0,3649.0,1984.0,155900.0,277.0,ZCTA5 00987